bin
lib
include
*.swp
*.pyc
cache/*
share/*
share
pip-selfcheck.json
pip*
classified
output
.flake8
.pyc
classified
run
archive
pymeanshift
*.zip
opencv
opencv_contrib
scikit-learn
results
*.npy
*.lprof
