bin
pip*
lib
include
*.swp
*.pyc
cache/*
share/*
share
pip-selfcheck.json
pip*
classified
output
.flake8
.pyc
classified
run
archive
pymeanshift
*.zip
opencv
opencv_contrib
scikit-learn
results/naive_algorithm_per_img/*
results/model_results_all_imgs/*
*.npy
*.lprof
test_set
train_set
classified_mining*
mining_set
bhtsne
bh_tsne
histograms
kmajority
*.AppleDouble*
output_test
~*
.ycm*
*.DildonT
*.ckpt.*
*bhtsne*
*.ipynb_checkpoints*
